poetry run python -m pip install -U pip
poetry run pip install pylint
poetry run pylint --generate-rcfile > .pylintrc
echo "__pycache__" >> .gitignore
echo "*.pyc" >> .gitignore
echo ".pytest_cache" >> .gitignore
